[Unit]
Description=PI-Sense App

[Service]
ExecStart=/usr/bin/bash /home/pi/pi-sense-monitor/pi-sense-app-start.sh
Type=simple

[Install]
WantedBy=multi-user.target